# Alien Guns 怪枪

[中文] [[English](./README_en.md)]  
[Steam 创意工坊](https://steamcommunity.com/sharedfiles/filedetails/?id=3611676083)
[演示视频](https://www.bilibili.com/video/BV1qsU1BCEDY)
[演示视频2](https://www.bilibili.com/video/BV197SnBKEtp)

一堆什么都能射，就是射不了常规子弹的枪；???最有用的一集

_注：本 mod 所有物品 id 号段从`"YukkuriC".GetHashCode() = 1206528349`开始；以下标注 id 均为此基础上的偏移量_

## 当前内容
{% set data = prepare("ChineseSimplified") -%}
{% for gun in data %}
-   {{ gun.name }}(#{{ gun.idx }})
{%- for line in gun.descrip %}
    -   {{ escape_md(line) }}
{%- endfor %}
{%- endfor %}
